@use "./variables/variables";
@use "./components/button";
nav#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  max-width: 100%;
  padding: 2rem 0;
  position: relative;
  margin: 1rem 2.5%;
  & ul {
    display: flex;
    justify-content: flex-start;
    & li {
      margin: 0 1rem;
      & a.navbar__download-btn {
        background-color: variables.$primary-color;
        color: variables.$text-light;
      }
    }
  }
}

div#section-1 {
  position: relative;
  & div.ad-lottery {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    backdrop-filter: blur(2px);
    color: variables.$text-light;
    justify-content: space-between;
    background-color: variables.$primary-color-alpha;
    & p {
      margin-right: 2.5%;
    }
    & a.ad-lottery-btn {
      margin-left: 2.5%;
      background-color: variables.$secondary-color;
      color: variables.$text-light;
    }
  }
}
img.banner-img {
  width: 100%;
}
