html {
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: Yekan;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #333;
}

li {
  list-style: none;
}
