a.btn {
  padding: 1.5rem 4rem;
  border-radius: 0.6rem;
}

nav#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  max-width: 100%;
  padding: 2rem 0;
  position: relative;
  margin: 1rem 2.5%;
}
nav#navbar ul {
  display: flex;
  justify-content: flex-start;
}
nav#navbar ul li {
  margin: 0 1rem;
}
nav#navbar ul li a.navbar__download-btn {
  background-color: #fa5723;
  color: #fff;
}

div#section-1 {
  position: relative;
}
div#section-1 div.ad-lottery {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  color: #fff;
  justify-content: space-between;
  background-color: rgba(250, 87, 35, 0.6);
}
div#section-1 div.ad-lottery p {
  margin-right: 2.5%;
}
div#section-1 div.ad-lottery a.ad-lottery-btn {
  margin-left: 2.5%;
  background-color: #2266f4;
  color: #fff;
}

img.banner-img {
  width: 100%;
}/*# sourceMappingURL=index.css.map */